<header>
    <div class="wrapperPage">
        <div class="bar">
            <div class="logo">
                <a th:href="@{/}">
                    <img th:src="@{/images/logo.png}" alt="Logo de FoodSpringApp" />
                </a>
            </div>
            <nav>
                <ul>
                    <li>
                        <a th:class="${currentPage == 'vehiculos' ? 'active' : ''}" th:href="@{/vehiculos}">Vehículos</a>
                    </li>
                    <li th:if="${role == 'ROLE_ADMIN'}">
                        <a th:class="${currentPage == 'clientes' ? 'active' : ''}" th:href="@{/clientes}">Clientes</a>
                    </li>
                    <li th:if="${role == 'ROLE_ADMIN' or role == 'ROLE_USER'}">
                        <a th:class="${currentPage == 'alquileres' ? 'active' : ''}" th:href="@{/alquileres}">Alquileres</a>
                    </li>
                </ul>
                <a th:class="loginLink" th:if="${role == 'ROLE_ANONYMOUS'}" th:href="@{/login}">Login</a>
                <a th:class="loginOutLink" th:if="${role != 'ROLE_ANONYMOUS'}" th:href="@{/logout}">Cerrar Sesión</a>
            </nav>            
        </div>
    </div>
</header>
