<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Gestión de Clientes</title>
    <link rel="stylesheet" th:href="@{/css/styles.css(v=${version})}" />
    <script th:src="@{/js/gestionUsuarios.js(v=${version})}" defer></script>
</head>
<body>
    <!-- Header -->
    <div th:replace="~{fragments/header}"></div>

    <!-- Contenido principal -->
    <main class="content">
        <h1 th:text="${title}"></h1>
        <p th:text="${description}"></p>
        <p th:text="${usuario}"></p>
        <button class="createButton">Añadir nuevo usuario</button>
        <!-- Tabla de usuarios -->
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre Completo</th>
                    <th>Email</th>
                    <th>Teléfono</th>
                    <th>Dirección</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody id="usuariosTable">
                <!-- Aquí se cargarán los usuarios mediante JavaScript -->
                <tr th:each="usuario: ${usuarios}">
                    <td th:text="${usuario.id}"></td>
                    <td th:text="${usuario.Nombre}"></td>
                    <td th:text="${usuario.fechaInicio}"></td>
                    <td th:text="${alquiler.fechaFin}"></td>
                    <td th:text="${alquiler.Dirección}"></td>
                    <td th:text="${usuario.Acciones}"></td>
                    <td>
                        <button class="editButton">Editar</button>
                    </td>
                </tr>
            </tbody>
        </table>
        
    </main>

    <!-- DialogCliente -->  
    <dialog id="usuarioModal">
        <span class="closeButtonModal close">&times;</span>
        <h2 id="modalTitle">Agregar / Actualiza un Usuario </h2>
        <form id="clienteForm" type="put">
            <input type="hidden" id="diUsuarioId" />
            <label>Nombre: <input type="text" id="diNombre" required /></label><br>
            <label>Apellidos: <input type="text" id="diApellidos" required /></label><br>
            <label>Email: <input type="email" id="diEmail" required /></label><br>
            <label>Teléfono: <input type="text" id="diTelefono" required /></label><br>
            <label>Dirección: <input type="text" id="diDireccion" required /></label><br>
            <button type="submit">Crea / Actualiza</button>
            <button class="closeButtonModal">Cerrar</button>
        </form>
    </dialog>

    <div th:replace="~{fragments/footer}"></div>
</body>
</html>