<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Gestión de Alquileres</title>
    <meta name="description" th:content="${description}" />
    <link rel="stylesheet" th:href="@{/css/styles.css(v=${version})}" />
    <script th:src="@{/js/gestion_alquileres.js(v=${version})}"defer></script>
</head>
<body>
    <div th:replace="~{fragments/header}"></div> 
    <main class="content">
        <h1 th:text="${title}"></h1>
        <p th:text="${description}"></p>
        <button class="createButton" onclick="document.getElementById('crearAlquilerDialog').showModal()">Crear nuevo alquiler</button>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Cliente ID</th>
                    <th>Vehículo ID</th>
                    <th>Fecha de Inicio</th>
                    <th>Fecha de Fin</th>
                    <th>Precio</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody id="alquileresTable">
                <tr th:each="alquiler: ${alquileres}" th:attr="data-id=${alquiler.id}">
                    <td th:text="${alquiler.id}"></td>
                    <td th:text="${alquiler.clienteId}"></td>
                    <td th:text="${alquiler.vehiculoId}"></td>
                    <td th:text="${alquiler.fechaInicio}"></td>
                    <td th:text="${alquiler.fechaFin}"></td>
                    <td th:text="${alquiler.precio}"></td>
                    <td>
                        <button class="editButton">Editar</button>
                        <button class="deleteButton" style="background-color: red; color: white;">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
            
    </main>
    <dialog id="crearAlquilerDialog">
        <form id="formCrearAlquiler">
            <h2>Crear o Editar Alquiler</h2>
            <input type="hidden" id="alquilerId" name="alquilerId">
            <div class="grid">
                <div class="input-group">
                    <label for="clienteId">Cliente ID:</label>
                    <input type="number" id="clienteId" name="clienteId" required>
                </div>
                <div class="input-group">
                    <label for="vehiculoId">Vehículo:</label>
                    <select id="vehiculoId" name="vehiculoId" required>
                        <option value="" disabled selected>Seleccione un vehículo</option>
                        <th:block th:each="vehiculo : ${vehiculos}">
                            <option th:value="${vehiculo.id}" th:data-price="${vehiculo.precio_dia}"
                                th:text="${vehiculo.id} + ' - ' + ${vehiculo.marca} + ' (' + ${vehiculo.matricula} + ')'">
                        </th:block>
                    </select>
                </div>
                <div class="input-group">
                    <label for="fechaInicio">Fecha de Inicio:</label>
                    <input type="date" id="fechaInicio" name="fechaInicio" required>
                </div>
                <div class="input-group">
                    <p class="text">Precio / Día:</p>
                    <p id="precio">0€</p>
                </div>
                <div class="input-group">
                    <label for="fechaFin">Fecha de Fin:</label>
                    <input type="date" id="fechaFin" name="fechaFin" required>
                </div>
            </div>
            <p id="errorFechas" style="color: red; display: none;">La fecha de inicio debe ser menor o igual que la
                fecha de fin.</p>
            <p><b>Precio total:</b></p>
            <p id="precioTotal"></p>
            <div class="inline_buttons">
                <button type="submit">Guardar</button>
                <button type="button" class="closeButtonModal" onclick="document.getElementById('crearAlquilerDialog').close()">Cerrar</button>
            </div>
        </form>
    </dialog>
    <div th:replace="~{fragments/footer}"></div>
</body>
</html>
