<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Título por Defecto</title>
    <meta name="description" th:content="${description}" />
    <link rel="stylesheet" th:href="@{/css/styles.css(v=${version})}" />
    <script th:src="@{/js/alquileres.js(v=${version})}"></script>
</head>
<body>
    <div th:replace="~{fragments/header}"></div> 
    <main class="content">
        <h1 th:text="${title}"></h1>
        <p th:text="${description}"></p>
        <button class="createButton">Crear nuevo alquiler</button>
        <div id="crearAlquilerDialog" class="hidden">
            <div class="modal-content">
                <form id="formCrearAlquiler">
                    <h2>Crear nuevo alquiler</h2>
                    <label for="clienteId">Cliente ID:</label>
                    <input type="number" id="clienteId" name="clienteId" required>
                    
                    <label for="vehiculoId">Vehículo ID:</label>
                    <input type="number" id="vehiculoId" name="vehiculoId" required>
                    
                    <label for="fechaInicio">Fecha de Inicio:</label>
                    <input type="date" id="fechaInicio" name="fechaInicio" required>
                    
                    <label for="fechaFin">Fecha de Fin:</label>
                    <input type="date" id="fechaFin" name="fechaFin" required>
                    
                    <label for="precio">Precio:</label>
                    <input type="number" step="0.01" id="precio" name="precio" required>
                    
                    <div>
                        <button type="submit">Crear</button>
                        <button type="button" class="closeButtonModal">Cerrar</button>
                    </div>
                </form>
            </div>
        </div>
        
        <table id="tablaAlquileres">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Cliente ID</th>
                    <th>Vehículo ID</th>
                    <th>Fecha de Inicio</th>
                    <th>Fecha de Fin</th>
                    <th>Precio</th>
                </tr>
            </thead>
            <tbody>
            <!-- Aquí se agregarán dinámicamente los alquileres -->
            </tbody>
        </table>   
    </main>

    <div th:replace="~{fragments/footer}"></div>
    <script src="/js/mi_alquiler.js"></script>
</body>
</html>
